ul {
    list-style-type: none;  
}

#ul_paint {
    width: 100%;
    margin-bottom: 2%;
}

.paint {
    border: 2px solid black;
    margin-top: 1%;
    width: 22%;
    margin-left: 1%;
    height: 2em;
    cursor: pointer;
    
    float:left;
    margin-bottom: 1%;
}

#blue {
    background-color: blue;
}

#white {
    background-color: white;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}
.doek {
    border: 0.2em solid black;
    float: left;
    margin-left: 0%;
    height: 6em;
}

.r1 {
    margin-left: 25%;
    width: 17%;
}

.r2 {
    width: 8%;
}

.r3 {
    width: 15%;
}

.r4 {
    width: 10%;
    margin-right: 25%;
}

.c1 {
    height: 10em;
}

.c2{
    height: 10em;
}

.c3{
    height: 5em;
}

.c4{
    height: 10em;
    margin-bottom: 5%;
}

