ul {
    list-style-type: none;  
}

#ul_paint {
    width: 10%;
}

.paint {
    border: 2px solid red;
    margin-top: 1%;
    width: 40%;
    margin-left: 1%;
    height: 2em;
    cursor: pointer;
}

#blue {
    background-color: blue;
}

#white {
    background-color: white;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}
.doek {
    border: 0.5em solid black;
    float: left;
    margin-left: 0%;
    height: 6em;
}

.r1 {
    margin-left: 10%;
    width: 10%;
}

.r2 {
    width: 30%;
}

.r3 {
    width: 18%;
}

.r4 {
    width: 22%;
}

.c1 {
    height: 6em;
}

.c2{
    height: 10em;
}

.c3{
    height: 8em;
    margin-bottom: 5%;
}